:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    min-height: 100%;
    --heading-size: 8.4rem;
    --credit-size: 1.2rem;
    --body-size: 2.8rem;
}

@font-face {
    font-family: norse; src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0;
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    color: white;
    font-family: norse;
    background-image: url(images/plants.jpg);
    background-size: 550px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 35%;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
}

.left-panel span {
    font-size: var(--heading-size);
    margin-left: 10px;
}

footer{
    font-size: var(--credit-size);
}

.right-panel {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    font-size: var(--body-size);
}

.intro {
    padding: 10% 10% 5% 10%; 
}

.intro, .btn-area {
    background: rgb(241, 241, 241);
}

label, button, input {
    font-size: 1.4rem;
}

label, input {
    display: block;
    border-radius: 5px;
}

label {
    margin-bottom: 3px;
}

table {
    padding-bottom: 5px;
    width: 60%;
    margin-left: 2%;
}

td {
    padding: 5px 20px;
    letter-spacing: 0.1rem;
}

button {
    margin: 2% 0 0 5%;
    padding: 15px 35px;
    background: #596D48;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.btn-area{
    padding-top: 30px;
    box-shadow: inset 0px 5px 9px 1px #ADACAF;
}

input {
    height: 25px;
}

input:focus {
    border-color: #4c4cff;
    box-shadow: 1px 1px 5px 0px grey;
}

.error {
    border-color: #FF0004;
    box-shadow: 0px 0px 3px 1px #FF0004;
}

#message {
    visibility: hidden;
}
